Visual-Studio/RESTful-API/Scrap/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDTO_Manufacture">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DTO_Manufacture" nillable="true" type="tns:DTO_Manufacture" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDTO_Manufacture" nillable="true" type="tns:ArrayOfDTO_Manufacture" />
  <xs:complexType name="DTO_Manufacture">
    <xs:sequence>
      <xs:element minOccurs="0" name="manID" type="xs:int" />
      <xs:element minOccurs="0" name="manName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTO_Manufacture" nillable="true" type="tns:DTO_Manufacture" />
</xs:schema>